@import 'https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap';

 * {
	box-sizing: border-box;
}

.App {
	font-family: 'Lexend', sans-serif;
	color: #fff;
	display: flex;
	// background-color: #14213d;
	background-image: linear-gradient(135deg, #fccf31 10%, #f55555 100%);
	align-items: center;
	flex-direction: column;
	height: 100vh;

	.container {
		display: flex;
		justify-content: center;
		max-width: 1200px;
		height: calc(100vh - 100px);
		width: 100%;
		// background: blue;

		#Editor {
			> div {
				height: calc(100% - 100px);
			}
			& #editor {
				padding: 15px;
				// font-size: 1.5rem;
				// height: 100%;
				width: 100%;
				height: 100%;
				overflow-y: scroll;
			}
		}

		#Preview {
			#preview {
				padding: 0 15px;
				color: #000;
				background-color: #fff;
				overflow-y: scroll;

				img {
					width: 100px;
				}
			}
		}

		#Editor,
		#Preview {
			width: 50%;
			// height: 100%;
			color: #fff;
			padding: 0 10px;
		}

		// #editor,
		#preview {
			// max-width: 50%;
			height: calc(100% - 100px);

			pre {
				padding: 10px;
			}

			code {
				// text-align: center;
				vertical-align: middle;
				padding: 2px 6px;
			}

			pre,
			code {
				color: white;
				background: #14213d;
				border-radius: 5px;
			}

			pre code {
				padding: 0;
			}
		}
	}
}

@media screen and (max-width: 750px) {
	.App {
		justify-content: center;
		.container {
			display: block;

			width: 100vw;
			#Editor,
			#Preview {
				height: calc(50% - 100px);
				width: 100%;
			}
		}
	}
}
