.App {
	display: flex;
	background-color: #14213d;
	height: 100vh;

	#Editor {
		width: 50vw;
		height: 100%;
		color: #fff;
		padding: 0 20pxk;
		#editor-area {
			width: 100%;
			height: calc(100vh - 100px);
		}
	}

	#Preview {
		color: #fff;
	}
}
